.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 90vh;
}

.auth a {
  text-decoration: none;
}

.auth__logo {
  object-fit: contain;
  margin-top: 80px;
}

.auth__logo img {
  width: 100%;
}

.auth__title {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.auth__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.auth__card img {
  object-fit: contain;
  width: 100%;
}

.auth__cardItem {
  margin: 0 24px;
  object-fit: contain;
  max-width: 350px;
  cursor: pointer;

  transition: ease-in-out 0.4s;
  /* background-color: rgb(51, 4, 4); */
}

.auth__cardItem:hover img {
  opacity: 0.4;
  transition: all 0.5s;
  transform: translate3d(0, 0, 0) scale(1);
}

.auth__cardItem:hover .auth__cardBody {
  transform: translateY(-180px);
  transition: all 0.3s;
  opacity: 1;
  color: black;
}

.auth__cardBtn {
  color: black;
  font-weight: bold;
  transition: all 0.4s;
  font-size: 25px;
  text-align: center;
}
