.App {
  text-align: center;
}

.app__content {
  transform: translateY(-50px);
}

.app__form {
  position: fixed;
  bottom: 0;
  z-index: 1;
  background-color: #e9e9eb;

  padding: 10px 0;
  width: 96%;
  margin-bottom: 20px;
  left: 2%;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
}

.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}
